.parent {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
}

.input-box {
  background-color: var(--main);
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
  font-size: 17px;
  color:var(--heading);
  height: 42px;

  
}

.arrow{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  align-content: end;
}

.options{
  display: flex;
  flex-direction: row;
  width: 20vh;
  margin: 5px;
  padding: 7px;
  width: 100%;
}
.options-box {
  background-color: var(--main);
  color:var(--heading);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.options:hover{
  width: 100%;
  background: var(--heading);
  color: var(--main);
  cursor: pointer;
  border-radius: 5px;
}